.letter {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.letter::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}
